* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: shabnam;
}

@font-face {
    font-family: shabnam;
    src: url(../fonts/Shabnam.woff) format('woff');
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.woff) format('woff');
}

@font-face {
    font-family: vazir-fd;
    src: url(../fonts/Vazir-FD-WOL.woff) format('woff');
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.woff) format('woff');
}


/* classes BEM ==> */

.btn {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn2 {
    background-color: #fff;
    display: block;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn3 {
    background-color: transparent;
    display: block;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.container {
    max-width: 70rem;   
    margin: auto;
    padding: 0 0.5rem;
}

.section-title-text {
    font-family: vazir;
    font-size: 35px;
    font-weight: bold;
}


/* Universal styling for tags ==> */

ul li {
    list-style-type: none;
    margin: 0 20px;
}

a {
    text-decoration: none;
}


/* styles ==> */


.header-top {
    background-color: #f8f8f8;
}

.header-top-container {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.logo-title {
    font-family: yekan;
    font-size: 28px;
}

.menu-header-container {
    display: flex;
}

.menu-header {
    display: flex;
    align-items: center;
}

.btn-header {
    margin-right: 15px;
}


.header-bottom {
    background-image: url(../img/bg-header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header-bottom-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-right-box {
    background-color: #ff562271;
    max-width: 500px;
    padding: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-title {
    font-size: 35px;
    font-family: vazir;
    margin-bottom: 10px;
}

.header-text {
    margin-bottom: 30px;
}

.header-text {
    font-size: 20px;
}

.header-btn-right {
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px; */

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-bottom-left {
    position: relative;
}

.header-img {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    left: 50px;
    bottom: -170px;
}



.section-1 {
    margin-top: 130px;
}

.title-section-1 {
    margin-bottom: 50px;
}



.item-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    align-items: center;
}

.item-img {
    width: 100px;
}

.description-item {
    display: flex;
    align-items: center;
}

.title-description-item {
    font-family: yekan;
    font-size: 25px;
    margin-bottom: 20px;
}

.text-description-item {
    font-size: 18px;
    line-height: 32px;
    padding-left: 80px;
}

.img-description {
    width: 500px;
}

.d-item1 {
    display: inline-flex;
}

.d-item2 {
    display: none;
}

.d-item3 {
    display: none;
}

.d-item4 {
    display: none;
}

.d-item5 {
    display: none;
}

.d-item6 {
    display: none;
}

.d-item7 {
    display: none;
}
