* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: shabnam;
}

@font-face {
    font-family: shabnam;
    src: url(../fonts/Shabnam.woff) format('woff');
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.woff) format('woff');
}

@font-face {
    font-family: vazir-fd;
    src: url(../fonts/Vazir-FD-WOL.woff) format('woff');
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.woff) format('woff');
}


/* classes BEM ==> */

.btn {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn2 {
    background-color: #fff;
    display: block;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn2:hover {
    box-shadow: 1px 1px 10px #eeeeee81;
}

.btn3 {
    background-color: transparent;
    display: block;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn3:hover {
    background-color: #ffffff23;
}

.icon-btn-header {
    margin-left: 15px;
}

.btn4 {
    background-color: #2282ff;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;

}

.btn5 {
    color: #fc4a1a;
    border: 1px solid #fc4a1a;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn6 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 40px;
}

.container {
    max-width: 70rem;   
    margin: auto;
    padding: 0 0.5rem;
}

.coating {
    background-color: #fff;
}

.section-title-text {
    font-family: vazir;
    font-size: 35px;
    font-weight: bold;
}


/* Universal styling for tags ==> */


ul li {
    list-style-type: none;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0px;
}


/* styles ==> */

/* home page styling codes ==> */

.header-top {
    background-color: #f8f8f8;
}

.header-top-container {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.logo-title {
    font-family: yekan;
    font-size: 28px;
    transition: all 0.3s;
}

.logo-title:hover {
    color: #d84011;
}

.menu-header-container {
    display: flex;
}

.menu-header {
    display: flex;
    align-items: center;
}

.item-menu-header {
    color: rgba(0, 0, 0, 0.686);
    transition: all 0.2s;
}

.item-menu-header:hover {
    color: #ff5722;
}

.btn-header {
    margin-right: 15px;
    transition: all 0.3s;
}

.btn-header:hover {
    box-shadow: 1px 1px 10px #ff5622b9;
}

.text-btn-header {
    color: #fff;
}


.header-bottom {
    background-image: url(../img/bg-header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header-bottom-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-right-box {
    background-color: #ff562271;
    max-width: 530px;
    padding: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-title {
    font-size: 35px;
    font-family: vazir;
    margin-bottom: 10px;
}

.header-text {
    margin-bottom: 30px;
}

.header-text {
    font-size: 20px;
}

.header-btn-right {
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px; */

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-bottom-left {
    position: relative;
}

.header-img {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    left: 50px;
    bottom: -200px;
}


.section {
    margin-top: 130px;
}


.section-1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 100px;
}

.title-section-1 {
    margin-bottom: 50px;
}



.item-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}

.item:hover {
    opacity: 1;
}

.item-img {
    width: 100px;
}

.description-item {
    display: flex;
    align-items: center;
}

.title-description-item {
    font-family: yekan;
    font-size: 25px;
    margin-bottom: 20px;
}

.text-description-item
, .text-description-section {
    font-size: 18px;
    line-height: 32px;
    padding-left: 80px;
}

.img-description , .img-section {
    width: 500px;
}

.d-item1 {
    display: inline-flex;
}

.d-item2 {
    display: none;
}

.d-item3 {
    display: none;
}

.d-item4 {
    display: none;
}

.d-item5 {
    display: none;
}

.d-item6 {
    display: none;
}

.d-item7 {
    display: none;
}

.nav-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section2 ,
.title-section3{
    margin-bottom: 20px;
}

.link-section2 {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-left-section2,
.link-section2-text {
    color: #ff5722;
    font-size: 18px;
}

.btn-section2 ,
.btn-section3 {
    margin-top: 20px;
    transition: all 0.3s;
}

.btn-section2:hover ,
.btn-section3:hover {
    background-color: #ff5622da;
}


.section-4 {
    background-image: linear-gradient(to right, rgba(11, 11, 82, 0.664) , #eeeeee3f) , url(../img/img-background.jpg);
    background-color: #0f1031;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.nav-content-section4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

/* .s4-item1 ,
.s4-item2 ,
.s4-item3 {
    border-left: 2px solid #fff;
} */

.s4-item1::after ,
.s4-item2::after ,
.s4-item3::after {
    content: '';
    border-left: 2px solid;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 50%;
}

.s4i {
    color: #fff;
    text-align: center;
    padding: 0px 10px;
    position: relative;
}

.title-s4-item {
    margin-bottom: 10px;
}

.content-s4-item {
    display: none;
    font-size: 15px;
    text-wrap: wrap;
}

.tsi-1:hover + .csi-1 {
    display: inline-block;
}

.tsi-2:hover + .csi-2 {
    display: inline-block;
}

.tsi-3:hover + .csi-3 {
    display: inline-block;
}

.tsi-4:hover + .csi-4 {
    display: inline-block;
}

.nav-content-section5 {
    display: flex;
    align-items: start;
    justify-content: center;
}

.title-section-5 {
    margin-bottom: 20px;
}

.img-section-5 {
    margin-right: 40px;
    border-radius: 10px;
}

.nav-content-section-right {
    color: rgba(0, 0, 0, 0.685);
}

.tds5 {
    margin-bottom: 30px;
}

.section5-content {
    margin-bottom: 30px;
}

.title-description-section5 {
    margin-bottom: 10px;
}

.title-highlight {
    color: #2282ff;
}

.text-description-section5 {
    font-size: 18px;
    line-height: 32px;
    padding-left: 30px;
}

.text-description2-section5 {
    font-size: 16px;
}

.btn4-section5-a {
    color: #fff;
}

.btn-section5 {
    margin: 50px 0px 50px 20px;
    transition: all 0.3s;
}

.btn-section5:hover {
    background-color: #2282ffc4;
}

.title-section6 {
    font-size: 35px;
    margin-bottom: 60px;
}

.nav-item-section6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.item-section6 {
    transition: all 0.3s;
    padding: 10px;
}

.item-section6:hover {
    box-shadow: 1px 1px 10px #00000028;
}

.title-item-section6 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.img-item1-section6 {
    width: 360px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-item-section6 {
    line-height: 32px;
    color: #8a8a8a;
}

.section-7 {
    background-image: url(../img/img-background-section7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

.title-section7 {
    font-size: 35px;
    margin-bottom: 40px;
}

.nav-item-section7 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.text-fa-item-section7 {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
}

.text-eng-item-section7 {
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-nav {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.logo-footer {
    margin-bottom: 10px;
    font-size: 30px;
}

.text-footer {
    font-size: 13px;
    line-height: 25px;
    font-weight: 100;
    color: #8a8a8a;
}

.section-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-link-footer {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link {
    color: #fff;
    font-size: 13px;
    transition: all 0.3s;
}

.footer-link:hover {
    color: #ff5722;
}

.namads {
    margin-bottom: 15px;
}

.namad {
    width: 110px;
}

.nav-social {
    text-align: center;
}

.title-social {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
}

.nav-icon-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-social {
    font-size: 25px;
    color: #8a8a8a;
    transition: all 0.3s;
}

.icon-social:hover {
    color: #ff5722;
}


/* home page styling codes ^ */


/* online taxi download button page styling codes -pdto ==> */

.nav-pdto-section1 {
    display: flex;
}

.pdto-section1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 50px;
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.img-pdto-section1 {
    width: 350px;
}

.title-pdto-section1 {
    font-size: 25px;
}

.pdto-section1-left {
    padding: 30px;
}

.title-pdto-section1 {
    font-size: 24px;
}

.text-pdto-section1 {
    font-weight: 300;
    color: #8a8a8a;
    margin-top: 8px;
    font-size: 17px;
}

.nav-content-pdto-section1-left {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-content-pdto-section1-left--right ,
.nav-content-pdto-section1-left--left {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.btn-pdto-section1 {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.tag-a--btn-pdto-section1 ,
.tag-a--btn-pdto-section2 {
    color: #fff;
}

.icon-btn-pdto-section1 {
    color: #fff;
    font-size: 20px;
    margin: 0 15px;
}

.text-pdto-section1-left {
    margin-top: 40px;
    font-weight: 600;
    color: #8a8a8a;
}

.pdto-section2 {
    margin: 80px 0;
}

.nav-pdto-section2 {
    border-top: 1px solid #4646467e;
    padding-top: 80px;
}

.nav-pdto-section2 ,
.nav-pdto-section3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-content-pdto-section2-right ,
.nav-content-pdto-section3-right {
    width: 280px;
    align-self: flex-start;
    font-size: 15px;
    color: #464646;
}
.nav-content-pdto-section2-center ,
.nav-content-pdto-section2-left ,
.nav-content-pdto-section3-center ,
.nav-content-pdto-section3-left {
    width: 360px;
}

.icon-pdto-section2 {
    width: 60px;
}

.nav-title-content-pdto-section2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.text-content-pdto-section2 {
    padding-right: 50px;
    color: #8a8a8a;
    margin-bottom: 15px;
}

.paragraph-content-pdto-section2 {
    text-align: justify;
    margin-bottom: 20px;
    color: #464646;
    line-height: 28px;
}

.pdto-section3 {
    background-color: #ececec79;
    padding: 50px 0;
}

.img-icon-video-pdto-section-3 {
    width: 300px;
    border: 1px solid #4646462f;
    border-radius: 10px;
}

.title-content-pdto-section3 {
    color: #464646;
    margin: 15px 0;
}

.paragraph-content-pdto-section3 {
    color: #8a8a8a;
    text-align: justify;
}


/* online taxi download button page styling codes ^ */


/* video page style codes -pv ==> */

.pv-section1 {
    padding: 80px;
}

.nav-pv-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pv-img-section1 {
    width: 500px;
    border-radius: 10px;
}

.pv-section2 {
    margin-bottom: 100px;
}

.title-pv-section2 {
    font-size: 35px;
    margin-bottom: 50px;
}

.pv-img-section2 {
    width: 300px;
    border-radius: 5px;
}

.nav-pv-section2 {
    display: flex;
    justify-content: space-around;
}

.text-content-pv-section2 {
    color: #464646;
    margin-bottom: 10px;
}

.nav-strip-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-pv-section2-number-views-likes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pv-section2-text-number-v-l {
    margin-right: 10px;
}

.pv-section2-number-likes ,
.pv-section2-number-views {
    display: flex;
}

.mark-safiran {
    color: #fff;
    background-color: #2282ff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.mark-mosaferan {
    color: #fff;
    background-color: #d84011;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}



/* video page style codes ^ */

/* style codes contact page -cp ==> */

.cp-section1 {
    margin: 60px 0px;
}

.title-cp-section1 {
    font-weight: 500;
    color: #464646;
    margin-bottom: 50px;
    padding-right: 30px;
}

.nav-cp-section1 {
    display: flex;
    justify-content: space-around;
}

.nav-place-name-cp-section1 {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.place-name-cp-section1 {
    font-size: 14px;
    font-weight: 100;
    
}

.img-place-cp-section1 {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.number-phone-cp-section1 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #464646;
}

.address-place-cp-section1 {
    color: #464646;
}

.cp-section1-left {
    min-width: 400px;
}

.address-social-cp-section1-top ,
.address-social-cp-section1-center ,
.address-social-cp-section1-bottom {
    display: flex;
    justify-content: space-between;
    color: #464646;
}

.nav-address-social-cp-section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    border-bottom: 1px solid #8a8a8a62;
    padding-bottom: 25px;
}

.icon-address-social-cp-section1 {
    font-size: 18px;
    margin-left: 10px;
}

.nav-icon-social-pages-cp-section1 {
    font-size: 30px;
    color: #464646;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}


/* style codes contact page ^ */


/* style codes taxi pack page -tpp ==> */

.nav-tpp-section1 {
    display: grid;
    grid-template-columns: 40% 60%; 
}

.tpp-section1-right {
    background-color: #272727;
    color: #fff;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tpp-title-section1 {
    font-size: 40px;
}

.tpp-text-section1 {
    font-family: vazir-fd;
    font-size: 18px;
}

.nav-btn-tpp-section1 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.tpp-btn-right-section1-right,
.tpp-btn-left-section1-right {
    transition: all 0.3s;
}

.tpp-btn-right-section1-right:hover,
.tpp-btn-left-section1-right:hover {
    box-shadow: 1px 1px 10px #ff5622b9;
}

.tag-a--tpp-btn-right-section1-right {
    color: #fff;
}

.tag-a--tpp-btn-left-section1-right {
    color: #fc4a1a;
}

.tpp-section1-left {
    background-image: url(../img/img-section1-page-taxi-pack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
}

/* style codes taxi pack page ^ */


/* style codes stock affairs page -sap ==> */

.sap-header {
    padding: 15px 0;
}

.nav-sap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sap-menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sap-item-menu-header {
    transition: all 0.2s;
}

.sap-item-menu-header:hover {
    border-bottom: 2px solid #d84011;
    color: #d84011;
    padding-bottom: 5px;
}

.sap-btn-number-phone-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sap-text-btn-number-phone-header {
    font-family: vazir-fd;
}

.nav-sap-section1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.sap-section1-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sap-title-section1-right {
    position: relative;
}

.sap-title-section1-right::after {
    content: "";
    width: 150px;
    border-top: 4px solid #fff;
    position: absolute;
    top: -25px;
    right: 0;

}

.sap-section1-right-top,
.sap-section1-right-bottom {
    background-color: #fc4a1a;
    color: #fff;
    padding: 75px 20px;
}

.sap-btn-section1-right {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 30px;
}

.tag-a--sap-btn-section1-right {
    color: #fff;
}

.sap-section2 {
    margin: 50px 0 100px 0;
}

.nav-sap-section2-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sap-title-section2-middle {
    border-bottom: 1px solid #00000028;
    font-size: 23px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;

}

.sap-title-section2-middle::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 88px;
    border-bottom: 3px solid #d84011;
}

.sap-item-rows-section2-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 35px 0;
    border-bottom: 1px solid #00000028;
    cursor: pointer;
}

.sap-item-rows-section2-bottom--right {
    min-width: 100px;
}

.sap-item-rows-section2-bottom--center {
    min-width: 350px;
}

.sap-item-rows-section2-bottom-left {
    min-width: 500px;
}

.img-sap-section3 {
    padding: 250px 0;
    background-image: url(../img/img-stock-affairs-page-section3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.sap-section4 {
    margin: 100px 0;
}

.nav-sap-section4 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.sap-section4-right {
    max-width: 600px;
}

.sap-section4-left {
    display: flex;
    flex-direction: column;
}

.text-sap-section4-left {
    margin-bottom: 10px;
}

.title-sap-section4-left {
    font-size: 28px;
    margin-bottom: 40px;
}

.img-sap-section5 {
    background-image: url(../img/img-stock-affairs-page-section5.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box-sap-section5 {
    position: absolute;
    bottom: -60px;
    left: 150px;
    max-width: 470px;
    background-color: #fc4a1a;
    padding: 50px 40px 20px 40px;
    color: #fff;
}

.title-box-sap-section5 {
    margin-bottom: 40px;
    font-size: 28px;
}

.text-box-sap-section5 {
    margin-bottom: 40px;
}

.inp-box-sap-section5 {
    direction: rtl;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    min-width: 388px;
    margin: 30px auto;
    display: block;
    border-radius: 5px;
}

.btn-box-sap-section5 {
    text-align: center;
    color: #fc4a1a;
    padding: 12px 20px;
    max-width: 400px;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #fff;
}

.sap-section6 {
    margin: 100px 0;
}

.nav-sap-section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.title-sap-section6-right {
    margin-bottom: 25px;
    font-size: 28px;
}

.text-sap-section6-right {
    margin-bottom: 30px;
}

.btn-sap-section6-right {
    display: inline-block;
    width: 220px;
    text-align: center;
}

.img-sap-section6-left {
    width: 600px;
}

.sap-section7 {
    margin: 40px;
}

.title-sap-section7 {
    margin-bottom: 20px;
    font-size: 30px;
}

.text-sap-section7 {
    margin-bottom: 30px;
    font-size: 19px;
}

.nav-inp-box-sap-section7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp-box-sap-section7-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inp-box-sap-section7-right-inputs {
    min-width: 450px;
    display: inline-block;
    padding: 20px 10px;
    outline: 0;
    border: 1px solid #00000028;
    border-radius: 10px;
}

.textarea-box-sap-section7-left {
    resize:none;
    outline: 0;
    padding: 5px;
    border: 1px solid #00000028;
    border-radius: 10px;
}

.btn-box-sap-section7 {
    display: block;
    text-align: center;
    margin: 10px 0;
}

/* style codes stock affairs page ^ */

/* style codes Job opportunities page -jop ==> */

.jop-section1 {
    background-image: url(../img/img-background-Job-opportunities-page-section1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: #fff;
    position: relative;
}

.nav-jop-section1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
}

.jop-section1-top {
    margin-bottom: 100px;
}

.title-jop-section1-top {
    font-size: 35px;
}

.jop-section-bottom {
    max-width: 600px;
}

.text-jop-section1-bottom {
    font-size: 20px;
}

.btn-jop-section1-bottom {
    display: inline-block;
    background-color: #fff;
    color: #ff5722;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 40px;
}

.jop-section2 {
    margin: 50px 0;
}

.title-jop-section2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.jop-section2-left-section-item {
    display: flex;
    gap: 50px;
}

.img-item-jop-section2 {
    width: 400px;
}

.jop-section2-left {
    max-width: 600px;
}

.title-jop-section2-left {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #0f1031;
}

.text-jop-section2-left {
    font-size: 19px;
    color: #464646;
}

.nav-item-jop-section2-left {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.item-jop-section2-left {
    cursor: pointer;
    font-size: 18px;
}

.jop-section2-left-item2 {
    display: none;
}

.jop-section2-left-item3 {
    display: none;
}

.jop-section2-left-item4 {
    display: none;
}

.jop-section3 {
    margin-top: 150px;
}

.title-jop-section3 {
    margin-bottom: 30px;    
    text-align: center;
    font-size: 28px;
}

.nav-items-jop-section3 {
    display: grid;
    grid-template-columns: repeat(3,250px);
    justify-content: center;
    margin-right: 10%;
}

.item-jop-section3 {
    width: 150px;
    text-align: center;
}

.img-item-jop-section3 {
    width: 100px;
}

.jop-section4 {
    margin-top: 150px;
}

.title-jop-section4 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.nav-video-jop-section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.video-jop-section4 {
    display: inline-flex;
    width: 300px;
    border: 1px solid #4646462f;
    border-radius: 10px;
}

.jop-section5 {
    text-align: center;
    margin-top: 150px;

}

.title-jop-section5 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.text-jop-section5 {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 50px;
}

.text-jop-section5::before {
    content: '26';
    width: 100px;
    background-color: #f8d4c5;
    color: #fc4a1a;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 10px;
}

.nav-items-jop-section5 {
    display: grid;
    grid-template-columns: repeat(3,250px);
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-jop-section5 {
    width: 250px;
    height: 60px;
    line-height: 60px;
    background-color: #00000005;
    color: #fc4a1a;
    transition: all 0.2s;
}

.item-jop-section5:hover {
    background-color: #00000010;
}

.btn-jop-section5 {
    margin-top: 50px;
}

.jop-section6 {
    margin-top: 150px;
}

.title-jop-section6 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.nav-items-jop-section6 {
    display: flex;
    justify-content: center;   
}

.item-jop-section6 {
    width: 150px;
    text-align: center;
}

.icon-item-jop-section6 {
    background-color: #484cc233;
    padding: 20px;
    border-radius: 100%;
}

.jop-section7 {
    margin-top: 150px;
}

.title-jop-section7 {
    margin-bottom: 50px;
    font-size: 28px;
    text-align: center;
}

.nav-boxs-jop-section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box-jop-section7 {
    text-align: center;
    background-color: #ff56221a;
    padding: 30px 15px;
    border-radius: 10px;
}

.img-user-jop-section7 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.title1-box-jop-section7,
.title2-box-jop-section7 {
    margin-bottom: 5px;
    font-weight: 200;
}

.text-link-box-jop-section7 {
    color: #fc4a1a;
}

.icon-jop-section7::before {
    font-size: 40px;
    color: #464646;
}

.jop-section8 {
    margin-top: 150px;
}

.title-jop-section8 {
    margin-bottom: 40px;
    text-align: center;
}

.box-jop-section8 {
    width: 700px;
    border: 3px solid #00000028;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 2px 2px 30px #00000028;
    margin: 0 auto;
}

.section-information-user-box-jop-section8 {
    display: flex;
    align-items: center;
}

.img-user-box-jop-section8 {
    width: 60px;
    border-radius: 100%;
}

.nav-title-box-jop-section8 {
    margin-right: 20px;
}

.title1-box-jop-section8 {
    margin-bottom: 10px;
    font-size: 20px;
}

.title2-box-jop-section8 {
    color: #4646467e;
}

.paragraph-box-jop-section8 {
    margin-top: 20px;
    margin-right: 80px;
}

.jop-section9 {
    margin: 150px 0;
}

.nav-jop-section9 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-jop-section9 {
    width: 350px;
}

.jop-section9-left {
    width: 600px;
}

.title-jop-section9-left {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.text-jop-section9-left {
    margin-bottom: 20px;
    font-size: 18px;
    color: #464646;
}

/* style codes Job opportunities page ^ */
