* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: shabnam;
}

@font-face {
    font-family: shabnam;
    src: url(../fonts/Shabnam.woff) format('woff');
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.woff) format('woff');
}

@font-face {
    font-family: vazir-fd;
    src: url(../fonts/Vazir-FD-WOL.woff) format('woff');
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.woff) format('woff');
}


/* classes BEM ==> */

.btn {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn2 {
    background-color: #fff;
    display: block;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn2:hover {
    box-shadow: 1px 1px 10px #eeeeee81;
}

.btn3 {
    background-color: transparent;
    display: block;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn3:hover {
    background-color: #ffffff23;
}

.icon-btn-header {
    margin-left: 15px;
}

.btn4 {
    background-color: #2282ff;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;

}

.container {
    max-width: 70rem;   
    margin: auto;
    padding: 0 0.5rem;
}

.coating {
    background-color: #fff;
}

.section-title-text {
    font-family: vazir;
    font-size: 35px;
    font-weight: bold;
}


/* Universal styling for tags ==> */


ul li {
    list-style-type: none;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0px;
}


/* styles ==> */

/* home page styling codes ==> */

.header-top {
    background-color: #f8f8f8;
}

.header-top-container {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.logo-title {
    font-family: yekan;
    font-size: 28px;
    transition: all 0.3s;
}

.logo-title:hover {
    color: #d84011;
}

.menu-header-container {
    display: flex;
}

.menu-header {
    display: flex;
    align-items: center;
}

.item-menu-header {
    color: rgba(0, 0, 0, 0.686);
    transition: all 0.2s;
}

.item-menu-header:hover {
    color: #ff5722;
}

.btn-header {
    margin-right: 15px;
    transition: all 0.3s;
}

.btn-header:hover {
    box-shadow: 1px 1px 10px #ff5622b9;
}

.text-btn-header {
    color: #fff;
}


.header-bottom {
    background-image: url(../img/bg-header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header-bottom-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-right-box {
    background-color: #ff562271;
    max-width: 530px;
    padding: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-title {
    font-size: 35px;
    font-family: vazir;
    margin-bottom: 10px;
}

.header-text {
    margin-bottom: 30px;
}

.header-text {
    font-size: 20px;
}

.header-btn-right {
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px; */

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-bottom-left {
    position: relative;
}

.header-img {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    left: 50px;
    bottom: -200px;
}


.section {
    margin-top: 130px;
}


.section-1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 100px;
}

.title-section-1 {
    margin-bottom: 50px;
}



.item-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}

.item:hover {
    opacity: 1;
}

.item-img {
    width: 100px;
}

.description-item {
    display: flex;
    align-items: center;
}

.title-description-item {
    font-family: yekan;
    font-size: 25px;
    margin-bottom: 20px;
}

.text-description-item
, .text-description-section {
    font-size: 18px;
    line-height: 32px;
    padding-left: 80px;
}

.img-description , .img-section {
    width: 500px;
}

.d-item1 {
    display: inline-flex;
}

.d-item2 {
    display: none;
}

.d-item3 {
    display: none;
}

.d-item4 {
    display: none;
}

.d-item5 {
    display: none;
}

.d-item6 {
    display: none;
}

.d-item7 {
    display: none;
}

.nav-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section2 ,
.title-section3{
    margin-bottom: 20px;
}

.link-section2 {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-angle-left , .link-section2-text {
    color: #ff5722;
    font-size: 18px;
}

.btn-section2 ,
.btn-section3 {
    margin-top: 20px;
    transition: all 0.3s;
}

.btn-section2:hover ,
.btn-section3:hover {
    background-color: #ff5622da;
}


.section-4 {
    background-image: linear-gradient(to right, rgba(11, 11, 82, 0.664) , #eeeeee3f) , url(../img/img-background.jpg);
    background-color: #0f1031;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.nav-content-section4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

/* .s4-item1 ,
.s4-item2 ,
.s4-item3 {
    border-left: 2px solid #fff;
} */

.s4-item1::after ,
.s4-item2::after ,
.s4-item3::after {
    content: '';
    border-left: 2px solid;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 50%;
}

.s4i {
    color: #fff;
    text-align: center;
    padding: 0px 10px;
    position: relative;
}

.title-s4-item {
    margin-bottom: 10px;
}

.content-s4-item {
    display: none;
    font-size: 15px;
    text-wrap: wrap;
}

.tsi-1:hover + .csi-1 {
    display: inline-block;
}

.tsi-2:hover + .csi-2 {
    display: inline-block;
}

.tsi-3:hover + .csi-3 {
    display: inline-block;
}

.tsi-4:hover + .csi-4 {
    display: inline-block;
}

.nav-content-section5 {
    display: flex;
    align-items: start;
    justify-content: center;
}

.title-section-5 {
    margin-bottom: 20px;
}

.img-section-5 {
    margin-right: 40px;
    border-radius: 10px;
}

.nav-content-section-right {
    color: rgba(0, 0, 0, 0.685);
}

.tds5 {
    margin-bottom: 30px;
}

.section5-content {
    margin-bottom: 30px;
}

.title-description-section5 {
    margin-bottom: 10px;
}

.title-highlight {
    color: #2282ff;
}

.text-description-section5 {
    font-size: 18px;
    line-height: 32px;
    padding-left: 30px;
}

.text-description2-section5 {
    font-size: 16px;
}

.btn4-section5-a {
    color: #fff;
}

.btn-section5 {
    margin: 50px 0px 50px 20px;
    transition: all 0.3s;
}

.btn-section5:hover {
    background-color: #2282ffc4;
}

.title-section6 {
    font-size: 35px;
    margin-bottom: 60px;
}

.nav-item-section6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.item-section6 {
    transition: all 0.3s;
    padding: 10px;
}

.item-section6:hover {
    box-shadow: 1px 1px 10px #00000028;
}

.title-item-section6 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.img-item1-section6 {
    width: 360px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-item-section6 {
    line-height: 32px;
    color: #8a8a8a;
}

.section-7 {
    background-image: url(../img/img-background-section7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

.title-section7 {
    font-size: 35px;
    margin-bottom: 40px;
}

.nav-item-section7 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.text-fa-item-section7 {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
}

.text-eng-item-section7 {
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-nav {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.logo-footer {
    margin-bottom: 10px;
    font-size: 30px;
}

.text-footer {
    font-size: 13px;
    line-height: 25px;
    font-weight: 100;
    color: #8a8a8a;
}

.section-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-link-footer {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link {
    color: #fff;
    font-size: 13px;
    transition: all 0.3s;
}

.footer-link:hover {
    color: #ff5722;
}

.namads {
    margin-bottom: 15px;
}

.namad {
    width: 110px;
}

.nav-social {
    text-align: center;
}

.title-social {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
}

.nav-icon-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-social {
    font-size: 25px;
    color: #8a8a8a;
    transition: all 0.3s;
}

.icon-social:hover {
    color: #ff5722;
}


/* home page styling codes ^ */


/* online taxi download button page styling codes -pdto ==> */

.nav-pdto-section1 {
    display: flex;
}

.pdto-section1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 50px;
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.img-pdto-section1 {
    width: 350px;
}

.title-pdto-section1 {
    font-size: 25px;
}

.pdto-section1-left {
    padding: 30px;
}

.title-pdto-section1 {
    font-size: 24px;
}

.text-pdto-section1 {
    font-weight: 300;
    color: #8a8a8a;
    margin-top: 8px;
    font-size: 17px;
}

.nav-content-pdto-section1-left {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-content-pdto-section1-left--right ,
.nav-content-pdto-section1-left--left {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.btn-pdto-section1 {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.tag-a--btn-pdto-section1 ,
.tag-a--btn-pdto-section2 {
    color: #fff;
}

.icon-btn-pdto-section1 {
    color: #fff;
    font-size: 20px;
    margin: 0 15px;
}

.text-pdto-section1-left {
    margin-top: 40px;
    font-weight: 600;
    color: #8a8a8a;
}

.pdto-section2 {
    margin: 80px 0;
}

.nav-pdto-section2 {
    border-top: 1px solid #4646467e;
    padding-top: 80px;
}

.nav-pdto-section2 ,
.nav-pdto-section3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-content-pdto-section2-right ,
.nav-content-pdto-section3-right {
    width: 280px;
    align-self: flex-start;
    font-size: 15px;
    color: #464646;
}
.nav-content-pdto-section2-center ,
.nav-content-pdto-section2-left ,
.nav-content-pdto-section3-center ,
.nav-content-pdto-section3-left {
    width: 360px;
}

.icon-pdto-section2 {
    width: 60px;
}

.nav-title-content-pdto-section2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.text-content-pdto-section2 {
    padding-right: 50px;
    color: #8a8a8a;
    margin-bottom: 15px;
}

.paragraph-content-pdto-section2 {
    text-align: justify;
    margin-bottom: 20px;
    color: #464646;
    line-height: 28px;
}

.pdto-section3 {
    background-color: #ececec79;
    padding: 50px 0;
}

.img-icon-video-pdto-section-3 {
    width: 300px;
    border: 1px solid #4646462f;
    border-radius: 10px;
}

.title-content-pdto-section3 {
    color: #464646;
    margin: 15px 0;
}

.paragraph-content-pdto-section3 {
    color: #8a8a8a;
    text-align: justify;
}


/* online taxi download button page styling codes ^ */